.game-page-bg {
  width: 100%;
  position: relative;
  .background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      object-fit: cover;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      height: 100%;

      @include media-breakpoint-down(md) {
        height: 385px;
      }
    }
  }
}
