.btn {
  text-transform: uppercase;
  font-family: $headings-font-family;
  background-color: transparent;
  &.btn-link {
    font-family: $headings-font-family;
    font-size: 12px;
    line-height: 14px;
    &:hover {
      text-decoration: none;
      color: #801416 !important;
    }
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  &:focus {
    box-shadow: none !important;
  }
  &:hover {
    text-decoration: none;
  }
}
