.btn {
    text-transform: uppercase;
    
    &.btn-primary {
        min-width: 210px;
    }

    &.btn-secondary {
        color: #fff;
        min-width: 210px;

        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }

    &.btn-arrow {
        display: flex;
        min-width: 210px;
        justify-content: space-between;
        align-items: center;

        svg {
            color: #fff;
        }
    }

    &.btn-link.variant-back {
        font-weight: bold;
        padding: 1rem 0;
        display: flex;
        align-items: center;

        svg {
            margin-right: 1rem;
        }

        &.p1 {
            color: $p1
        }
    }
}