@import "node_modules/swiper/swiper.scss";

.carousel.steps-to-play {
  .swiper-slide {
    // height: calc(100% / 3);
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include media-breakpoint-up(md) {
    height: 280px;
    width: 90%;
  }
}

.carousel-controls {
  .swiper-fraction {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 14%;
    z-index: 10;
    font-family: $headings-font-family;
    font-size: 14px;
    font-weight: bold;
    color: $p3;
  }
  .swiper-pagination {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    width: 100%;
    right: 0;
    left: 0;

    &-bullet {
      width: 10px;
      height: 10px;
      border-radius: 50px;
      margin: 0 5px;
      background-color: $p4;
      border: 1px solid black;

      &-active {
        background-color: #eb0308;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    img {
      width: 100%;
      height: 100%;
      transition: 0.2s ease;
    }
  }
  .swiper-button-next {
    &.arrow-next {
      width: 30px;
      cursor: pointer;
      position: absolute;
      height: 40px;
      right: 10px;
      top: 40%;
      &:active {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
      }
    }
    &.button-next {
      width: 165px;
      position: absolute;
      height: auto;
      right: 0;
      bottom: -14px;
      left: 0;
      margin: auto;
      cursor: pointer;
    }
  }
}
