canvas {
    display: none;
}

#game-container {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    z-index: 3;
    canvas {
        // width: 100%;
        display: block;
    }
}
// position: absolute;
// top: 15%;
// right: 18%;