#game-container {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    z-index: 3;

    @include media-breakpoint-down(md) {
        top: 20%
    }
}
// position: absolute;
// top: 15%;
// right: 18%;