
.leaderboards {
  &--fixedbar {
    bottom: 0;
    width: 100%;
    z-index: $zindex-fixed;
  }
  &-collapsible {
    &__header {
      background-color: #801416;
      // @include media-breakpoint-up(md) {
      // }

      // .leaderboards-collapsible__button {
      //   @include media-breakpoint-down(sm) {
      //     background-color: #f3b800;
      //   }
      //   &.collapsed {
      //     @include media-breakpoint-down(md) {
      //       background-color: #801416;
      //     }
      //   }
      // }
    }
    &__button {
      &:focus {
        text-decoration: none !important;
      }
      &.collapsed {
        .leaderboards-collapsible__heading-arrow {
          transform: rotate(180deg);
          @include media-breakpoint-down(xl) {
            background-color: #801416;
          }
        }
      }
    }
    &__heading-text {
      font-size: 18px;
      color: #ffffff;
      @include media-breakpoint-up(md) {
        font-size: 24px;
      }
    }
    &__heading-arrow {
      color: #ffffff;
      font-size: 24px;
      position: absolute;
      left: 45%;
      // right: 25%;
      top: -25px;
      background-color: #801416;
      width: 50px;
      @include media-breakpoint-up(md) {
        right: 10px;
        top: 5px;
        left: auto;
        background-color: transparent;
        width: auto;
      }
      @include media-breakpoint-up(lg) {
        top: 10px;
      }
    }
    &__card-body {
      max-width: 1366px;
      margin: 0 auto;
    }
  }
  &-users {
    &__listing {
      list-style: none;
      counter-reset: ranking-counter;
      font-family: "Bungee";
      color: #ffffff;
      padding-left: 0;
      @include media-breakpoint-up(md) {
        column-count: 2;
        font-size: 16px;
      }

      li {
        counter-increment: ranking-counter;
        font-size: 20px;
        display: flex;
        align-items: center;
        @include media-breakpoint-up(md) {
          font-size: 24px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 16px;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        &::before {
          content: '#' counter(ranking-counter);
          margin-right: 25px;
          width: 50px;

          @include media-breakpoint-only(md) {
            margin-right: 50px;
            width: 20px;
          }
          @include media-breakpoint-up(lg) {
            width: 20px;
          }
        }
      }
    }
    &__img {
      img {
        width: 52px;
        height: auto;
        @include media-breakpoint-only(md) {
          width: 84px;
        }
        @include media-breakpoint-up(lg) {
          width: 72px;
        }
      }
    }
  }
  &-collapsible__body {
    background-color: #f3b800;
    background-image: url('/assets/img/flowers.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-up(md) {
      background-color: #f0b836;
      background-image: none;
    }

    .carousel-controls {
      .swiper-button-next.arrow-next {
        right: 10px !important;
        @include media-breakpoint-only(md) {
          top: 57% !important;
        }
      }
      .swiper-button-prev.arrow-previous {
        left: 10px !important;
        @include media-breakpoint-only(md) {
          top: 57% !important;
        }
      }
    }
  }
}

.users-ranking {
  &__avatar {
    // width: 13.333%;
    img {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      @include media-breakpoint-only(md) {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__name {
    width: 60.333%;
    text-align: center;
    @include media-breakpoint-down(md) {
      width: 50.33%;
    }
  }
  &__points {
    width: 33.333%;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}

.tnc-anchor {
  &-container {
    left: 0;
    bottom: 64px;
  }
}