.mobile-nav-wrapper {
  position: absolute;
  overflow: hidden;
  .burger-container {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .mobile {
    .hamburger-menu {
      z-index: 1006;
      position: absolute;
      top: 2px;
      width: 30px;
      height: 50px;
      right: 10px;
      cursor: pointer;
      .bar {
        position: relative;
        transform: translateY(25px);
        background-color: white;
        transition: all 0ms 300ms;
        top: 0px;
        width: 30px;
        height: 3px;
        &.animate {
          background: rgba(255, 255, 255, 0);
          &:after {
            top: 0;
            transform: rotate(45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            background-color: #d3422f;
          }
          &:before {
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            background-color: #d3422f;
          }
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 8px;
          background: rgba(255, 255, 255, 1);
          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 8px;
          background: rgba(255, 255, 255, 1);
          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
            transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after,
        &:before {
          width: 30px;
          height: 3px;
        }
      }
    }
  }
  .mobile-nav {
    background-color: #f2b900;
    position: absolute;
    top: -25%;
    width: 450px;
    border-radius: 50%;
    height: 450px;
    transition: 0.2s ease;
    z-index: 1005;
    @include media-breakpoint-up(sm) {
      top: -33%;
      width: 700px;
      height: 700px;
    }
    &.show {
      right: -50%;
      opacity: 1;
      @include media-breakpoint-up(sm) {
        right: -42%;
      }
      a {
        opacity: 1;
      }
    }
    &.hide {
      opacity: 0;
      left: 100%;
    }
    ul {
      position: relative;
      top: 80%;
      left: -50%;
      transform: translateY(-50%);
      list-style: none;
      text-align: right;
      @include media-breakpoint-up(sm) {
        padding-left: 40px;
      }
      @include media-breakpoint-up(md) {
        left: -50%;
        top: 78%;
      }
    }
    a {
      font-size: 4vw;
      margin-bottom: 18px;
      color: #d3422f;
      line-height: 4vw;
      opacity: 0;
      transition: opacity 0.9s ease-in-out;

      @include media-breakpoint-up(md) {
        line-height: 30px;
        font-size: 28px;
      }
      // @include media-breakpoint-up(sm) {
      //   line-height: 24px;
      //   font-size: 22px;
      // }
    }
  }
}
