.comment-box {
  .img-sticker {
    max-width: 140px;
    height: 100%;
    @include media-breakpoint-down(md) {
      width: 80px;
      margin-right: 45px;
      &:last-child {
        margin-right: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      width: calc(100% / 5);
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .title-sticker {
    font-size: 26px;
    color: #d3422f;
    @include media-breakpoint-down(md) {
      font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}
.sticker-page-container .btn-wrapper {
  position: relative;
  z-index: 10;
  top: -190px;
  @include media-breakpoint-down(sm) {
    top: -80px;
  }
  img {
    width: 242px;
    height: 100%;
    @include media-breakpoint-down(md) {
      width: 265px;
    }
    @include media-breakpoint-down(sm) {
      width: 148px;
    }
  }
}
.img-dragon-wrapper {
  z-index: 9;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 8%;
  left: -3%;
  @include media-breakpoint-down(md) {
    left: 0;
    margin-top: -94%;
  }
  @include media-breakpoint-down(sm) {
    left: -15px;
    margin-top: -170%;
  }
  img {
    width: 280px;
    height: auto;
    @include media-breakpoint-down(md) {
      width: 180px;
    }
    @include media-breakpoint-down(sm) {
      width: 90px;
    }
  }
}

.speech-bubble {
  background: #fff9ce;
  padding: 20px;
  border-radius: 30px;
  margin: 20px auto;
  top: 75px;
  width: 75%;
  position: relative;
  box-shadow: rgb(0 0 0) 0 0 0 5px;
  @include media-breakpoint-down(md) {
    top: -695px;
    width: 100%;
  }
  @include media-breakpoint-down(sm) {
    top: -662px;
    width: 100%;
  }
  &.speech-bubble-bottom-right {
    &:before {
      content: "";
      position: absolute;
      bottom: -62px;
      right: 99px;
      width: 0px;
      height: 0px;
      border-top: 62px solid black;
      border-left: 62px solid transparent;
      @include media-breakpoint-down(sm) {
        border-top: 40px solid black;
        border-left: 40px solid transparent;
        bottom: -44px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 5;
      bottom: -48px;
      right: 104px;
      width: 0px;
      height: 0px;
      border-top: 50px solid #fff9ce;
      border-left: 50px solid transparent;
      @include media-breakpoint-down(sm) {
        border-top: 35px solid #fff9ce;
        border-left: 35px solid transparent;
        bottom: -34px;
      }
    }
  }
}
