<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta property="og:url"           content="https://www.sunlifecollectthehuat.com" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Unlock the Luck, Collect the Huat - Sun Life Malaysia" />
		<meta property="og:description"   content="RM338 up for grabs to start the new year with a positive bang! Play Sun Life's Unlock The Luck, Collect The Huat now!" />
		<meta property="og:image"         content="https://www.sunlifecollectthehuat.com/assets/img/masthead.png" />
		<title>Unlock the Luck, Collect the Huat - Sun Life Malaysia</title>
		<script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
		<script>
			window.fbAsyncInit = function () {
        FB.init({appId: '242408941331113', autoLogAppEvents: true, xfbml: true, version: 'v12.0'});
      };
		</script>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K638X7H"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
		<header>
			{% if showNav %}
				{% include "../components/game-navbar.twig" %}
			{% endif %}
		</header>
		<main>
			{% block main %}{% endblock %}
		</main>
		{# <footer>
				        {% include "../components/footer.twig" %}
				    </footer> #}
		{% block extras %}{% endblock %}

	</body>
</html>
