.collections {
  &-container {
    padding-top: 245px;
  }
  &-header {
    color: #d3422f;
  }

  &-description {
    font-family: "Bungee";
  }
}

.leaderboards {
  &--fixedbar {
    bottom: 0;
    width: 100%;
  }
  &-collapsible {
    &__header {
      background-color: #801416;
    }
    &__button {
      &:focus {
        text-decoration: none !important;
      }
      &.collapsed {
        .leaderboards-collapsible__heading-arrow {
          transform: rotate(180deg);
        }
      }
    }
    &__heading-text {
      font-size: 24px;
      color: #ffffff;
    }
    &__heading-arrow {
      color: #ffffff;
      font-size: 24px;
      right: 10px;
      top: 10px;
    }
    &__card-body {
      max-width: 1366px;
      margin: 0 auto;
    }
  }
  &-users {
    &__listing {
      list-style: none;
      counter-reset: ranking-counter;
      column-count: 2;
      font-family: "Bungee";
      color: #ffffff;
      padding-left: 0;
      li {
        counter-increment: ranking-counter;
        font-size: 14px;
        display: flex;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        &::before {
          content: '#' counter(ranking-counter);
          margin-right: 25px;
          width: 20px;
        }
      }
    }
    &__img {
      img {
        width: 72px;
        height: auto;
      }
    }
  }
}

.users-ranking {
  &__avatar {
    // width: 13.333%;
    img {
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
  }
  &__name {
    width: 60.333%;
    text-align: center;
  }
  &__points {
    width: 33.333%;
  }
}