.collections {
  &-container {
    // padding-top: 600px;
    padding-bottom: 68px;
    @include media-breakpoint-up(md) {
      padding-top: 200px;
    }
  }
  &-header {
    color: #d3422f;
  }
  &-description {
    font-family: "Bungee";
  }
  &-carousel-controls.carousel-controls {
    .swiper-button-next {
      &.arrow-next {
      right: 0;
      top: 45%;
      z-index: $zindex-dropdown;
      }
    }
    .swiper-button-prev {
      &.arrow-previous {
        left: 0;
        top: 45%;
        z-index: $zindex-dropdown;
      }
    }
  }
}

.users-ranking {
  &__avatar {
    // width: 13.333%;
    img {
      width: 22px;
      height: 22px;
      border-radius: 20px;
      @include media-breakpoint-only(md) {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__name {
    width: 60.333%;
    text-align: center;
  }
  &__points {
    width: 33.333%;
  }
}

.collections-weekly {
  &__container {
    @include media-breakpoint-up(md) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__item-container {
    &:not(:last-child) {
      margin-bottom: 34px;
      @include media-breakpoint-up(md) {
        margin-right: 54px;
        margin-bottom: 0;
      }
    }
    &.item-locked * {
      opacity: 0.7;
    }
  }
  &__item-heading {
    margin-bottom: 24px;
    @include media-breakpoint-only(md) {
      margin-bottom: 14px;
    }
  }
  &__img {
    &:not(:last-child) {
      margin-right: 14px;
    }
    img {
      height: 130px;
      width: auto;
      @include media-breakpoint-up(md) {
        height: 170px;
      }
    }
    &-list-wrapper {
      width: 100%;
    }
  }
  &__img-quantity {
    font-family: "Bungee";
    font-weight: 600;
    font-size: 14px;
    margin-top: 12px;
  }
}

.sunlife {
  &-buttons {
    width: 100%;
    background-color: #c75a2c;
    border-color: transparent;
    border-radius: 5px;
    transition: .15s ease-in-out;
    @include media-breakpoint-up(md) {
      width: auto;
    }
    &:hover {
      background-color: #9c5030;
    }

    &__text {
      font-family: "Bungee";
      font-weight: 600;
      &.download-text {
        font-family: "Bungee";
        color: #f7c652;
      }
    }
  }
}

.tnc-anchor {
  font-family: "Bungee";
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: #801416;
    }
  }
}