.start-page-container {
  width: 100%;
  position: relative;

  .content {
    position: relative;
    margin-top: -40%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: -110%;
    }
    @include media-breakpoint-down(sm) {
      margin-top: -160%;
    }
    .wrapper {
      .curvy-text {
        color: $s1;
        display: inline-block;

        &.w {
          transform: translate(36px, 0px) rotate(-4deg);

          @include media-breakpoint-down(md) {
            transform: translate(32px, 0px) rotate(-3deg);
          }
        }

        &.e {
          transform: translate(24px, -4px) rotate(-2deg);

          @include media-breakpoint-down(md) {
            transform: translate(23px, -2px) rotate(-2deg);
          }
        }

        &.l {
          transform: translate(11px, -5px) rotate(-2deg);

          @include media-breakpoint-down(md) {
            transform: translate(14px, -3px) rotate(-1deg);
          }
        }

        &.c {
          transform: translate(-1px, -7px) rotate(-1deg);

          @include media-breakpoint-down(md) {
            transform: translate(6px, -4px) rotate(-1deg);
          }
        }

        &.o {
          transform: translate(-14px, -8px) rotate(0deg);

          @include media-breakpoint-down(md) {
            transform: translate(-3px, -4px) rotate(1deg);
          }
        }

        &.m {
          transform: translate(-27px, -8px) rotate(1deg);

          @include media-breakpoint-down(md) {
            transform: translate(-11px, -5px) rotate(1deg);
          }
        }

        &.e1 {
          transform: translate(-40px, -7px) rotate(2deg);

          @include media-breakpoint-down(md) {
            transform: translate(-20px, -4px) rotate(2deg);
          }
        }

        &.t {
          transform: translate(-47px, -4px) rotate(4deg);

          @include media-breakpoint-down(md) {
            transform: translate(-27px, -2px) rotate(4deg);
          }
        }

        &.o2 {
          transform: translate(-60px, -1px) rotate(4deg);

          @include media-breakpoint-down(md) {
            transform: translate(-36px, 2px) rotate(5deg);
          }
        }
      }
    }
    .hero-image {
      width: 500px;
      margin: 0 auto;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      img {
        width: 100%;

        @include media-breakpoint-down(md) {
          width: 65%;
        }
        @include media-breakpoint-down(sm) {
          width: 80%;
        }
      }
    }
    .fb-login-btn {
      cursor: auto !important;
      .fb-btn {
        cursor: pointer;
        width: 250px;
      }
    }
  }
}

// .start-page {
//   background: #fff;
//   width: 500px;
//   margin: 0px auto;
//   display: flex;
//   flex-direction: column;
//   border-radius: 4px;
//   box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
//   top: 120px;
//   position: relative;
//   // background-image: url(assets/img/signin-page-yellow-bg.jpg);

//   .start-title {
//     padding: 35px 35px 0 35px;
//   }

//   .content {
//     padding: 35px;
//     text-align: center;
//   }

//   .input-field {
//     padding: 12px 5px;
//     input {
//       font-size: 16px;
//       display: block;
//       width: 100%;
//       padding: 10px 1px;
//       border: 0;
//       border-bottom: 1px solid #747474;
//       outline: none;
//       transition: all 0.2s;
//       &::placeholder {
//         text-transform: uppercase;
//       }

//       &:focus {
//         border-color: #222;
//       }
//     }
//   }

//   a.link {
//     text-decoration: none;
//     color: #747474;
//     letter-spacing: 0.2px;
//     text-transform: uppercase;
//     display: inline-block;
//     margin-top: 20px;
//   }

//   .action {
//     display: flex;
//     flex-direction: row;
//     button {
//       width: 100%;
//       border: none;
//       padding: 18px;
//       cursor: pointer;
//       text-transform: uppercase;
//       background: #e8e9ec;
//       color: #777;
//       border-bottom-left-radius: 4px;
//       border-bottom-right-radius: 0;
//       letter-spacing: 0.2px;
//       outline: 0;
//       transition: all 0.3s;

//       &:hover {
//         background: #d8d8d8;
//       }

//       &:nth-child(2) {
//         background: #2d3b55;
//         color: #fff;
//         border-bottom-left-radius: 0;
//         border-bottom-right-radius: 4px;

//         &:hover {
//           background: #3c4d6d;
//         }
//       }
//     }
//   }
// }
