.prizes {
  &-price-to-win {
    font-family: "AllerDisplay";
    color: #e01a0a;
    font-size: 32px;
  }
  &-winner {
    &-container {
      background-color: #ffffff;
      border: 1px solid #801416;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 240px;
      margin: auto;
      @include media-breakpoint-only(md) {
        &:not(:last-child) {
          margin-right: 23px;
        }
      }
      @include media-breakpoint-up(lg) {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100%;
      }
      &.locked {
        background-color: #856823;
      }
    }
    &-image {
      width: 70%;
      height: auto;
      margin: -52px 0 auto;
      display: block;
      top: 11px;
      position: relative;
      @include media-breakpoint-only(md) {
        margin: -30px 0 auto;
        top: 0;
      }
      @include media-breakpoint-up(md) {
        top: 0;
        width: 90%;
      }
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      .winner-item__img-list {
        width: 35px;
        height: auto;
        margin-right: 14px;
        @include media-breakpoint-only(md) {
          width: 30px;
        }
        @include media-breakpoint-up(md) {
          margin-right: 14px;
        }
      }
      .winner-item__img-user {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        margin-right: 10px;
        @include media-breakpoint-only(md) {
          width: 30px;
          height: 30px;
        }
        @include media-breakpoint-up(md) {
          margin-right: 14px;
        }
      }
    }
    &-name {
      font-family: "Bungee";
      font-size: 14px;
      @include media-breakpoint-only(md) {
        font-size: 9px
      }
    }
    &-body__content {
      .locked-icon {
        width: 40px;
        height: auto;
      }
      .locked-wrapper {
        margin-bottom: 20px;
      }
      .locked-icon-text {
        font-family: "Bungee";
        color: #fbb601;
        margin-top: 6px;
      }
    }
  }
  &-wrapper {
    .collections-carousel-controls.carousel-controls {
      .swiper-button-next {
        &.arrow-next {
        right: 0px;
        top: 55%;
        z-index: $zindex-dropdown;
        }
      }
      .swiper-button-prev {
        &.arrow-previous {
          left: 0px;
          top: 55%;
          z-index: $zindex-dropdown;
        }
      }
    }
    &-container {
      // @include media-breakpoint-only(md) {
      //   display: flex;
      //   justify-content: center;
      //   flex-wrap: wrap;
      // }
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.trophy-icon-wrapper {
  img {
    width: 50px;
  }
}

.prizes-heading {
  width: 100%;
  @include media-breakpoint-up(md){
    width: 75%;
  }
}