.register-page-container {
  width: 100%;
  position: relative;

  .content {
    position: relative;
    margin-top: -42%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: -110%;
    }

    @include media-breakpoint-down(sm) {
      margin-top: -165%;
    }

    .form-wrapper {
      width: 550px;
      margin: auto;
      text-align: left;
      position: relative;

      @include media-breakpoint-down(md) {
        width: 90%;
      }

      .form-header-img {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: -10%;
        text-align: center;

        @include media-breakpoint-down(sm) {
          top: -7%;
        }

        img {
          width: 330px;
          @include media-breakpoint-down(md) {
            width: 300px;
          }
          @include media-breakpoint-down(sm) {
            width: 250px;
          }
        }
      }

      .form-group {
        background-color: $p5;
        padding: 34px 36px 10px;
        border: 3px solid black;
        border-radius: 25px;

        @include media-breakpoint-down(md) {
          padding: 45px 10px 8px;
        }

        label,
        input {
          display: block;
        }

        label {
          font-weight: bolder;
          font-family: "Myriad";
          margin-bottom: 4px;
          font-size: 18px;
          line-height: 18px;
          color: #f9b105;
        }

        .form-control {
          min-height: 30px;
          border: 3px solid black;
          border-radius: 6px;
          background-color: $p5;
          color: black;

          &:focus {
            box-shadow: none;
          }
        }

        .error-message {
          font-size: 70%;
          line-height: 70%;
        }

        .form-check {
          .custom-control {
            &.material-checkbox {
              --color: black;
              .material-control-input {
                display: none;
                &:checked ~ .material-control-indicator {
                  border-color: var(--color);
                  transform: rotateZ(45deg) translate(1px, -5px);
                  width: 10px;
                  border-top: 0px solid transparent;
                  border-left: 0px solid transparent;
                }
              }
              .material-control-indicator {
                display: inline-block;
                position: absolute;
                top: 4px;
                left: 0;
                width: 16px;
                height: 16px;
                border: 1.5px solid black;
                background: $p5;
                transition: 0.3s;
              }
              .material-control-description {
                font-size: 10px;
                line-height: 8px;
                color: #00528f;
                a {
                  color: #bb281e;
                }
              }
            }
          }
        }

        .form-action {
          img {
            width: 280px;

            @include media-breakpoint-down(md) {
              width: 220px;
            }
          }
        }
      }
    }
  }
}
//change bg color to yellow if autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $p5 inset !important;
}
