.link-tnc {
  font-family: $headings-font-family;
  font-size: 14px;
  &:hover {
    text-decoration: none;
    color: #d3422f;
  }
}

.sticker-page-container {
  width: 100%;
  position: relative;
  @include media-breakpoint-down(lg){
    position: absolute;
    top: 195px;
  }
  @include media-breakpoint-down(md){
    position: absolute;
    top: -5px;
  }
  .page-content {
    position: relative;
    margin-top: -40%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @include media-breakpoint-down(lg){
      position: relative;
      top: 45px;
      margin-top: 29%;
    }

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }
}

@media screen and (width: 1194px)  {
  .page-content {
    margin-top: 2% !important;
    top: 0 !important;
  }

  .comment-box .img-sticker {
    width: 100px !important;
  }

  .speech-bubble {
    top: 0 !important;
    padding: 5px;
  }

  .img-dragon-wrapper {
    margin-top: 5% !important;
    left: -7% !important;
  }
  .img-dragon-wrapper img {
    width: 190px !important;
  }
}
