<div class="d-lg-none d-block">
	{% include "./mobile-nav.twig" %}
</div>

<div class="game-navbar bg-gradient">
	<div class="nav-menu d-lg-flex d-none">
		<a class="btn btn-link p-0 mr-4" href="/">
			HOW TO PLAY
		</a>
		<a class="btn btn-link p-0 mr-4" href="/">
			YOUR COLLECTION
		</a>
		<a class="btn btn-link btn-link-active p-0 mr-4" href="/">
			PRIZES
		</a>
		<a class="btn btn-link p-0 mr-4" href="/">
			STICKERS
		</a>
		<a class="btn btn-link p-0 mr-4 profile" href="/">
			<svg class="icon d-block icon-m mb-1 mx-auto">
				<use xlink:href="assets/icons/icons.svg#sprite-profile" href="assets/icons/icons.svg#sprite-profile"></use>
			</svg>
		</a>
	</div>
	<div class="d-flex justify-content-around flex-lg-row flex-column w-100 mt-lg-0 mt-6">
		<div class="nav-wrapper mb-4 mb-lg-0">
			<div class="countdown-container mx-auto d-flex justify-content-lg-start justify-content-center align-items-center">
				<div class="w text-nav var-small mr-3">WEEK 1</div>
				<div class="w text-nav mr-3">03
					<span class="count-unit">DAYS</span>
				</div>
				<div class="w text-nav mr-3">17
					<span class="count-unit">HOUR</span>
				</div>
				<div class="w text-nav mr-3">41
					<span class="count-unit">MIN</span>
				</div>
				<div class="w text-nav mr-3">16
					<span class="count-unit">SEC</span>
				</div>
			</div>
		</div>

		<div class="center-img">
			<img src="assets/img/masthead.png" alt="masthead">
		</div>

		<div class="nav-wrapper">
			<div class="d-block d-lg-none text-center mb-2 w text-nav var-small mr-3">YOUR SCORE</div>
			<div class="score-container mx-auto d-flex justify-content-lg-end justify-content-center align-items-center mr-1">
				<div class="d-none d-lg-block w text-nav var-small mr-3">YOUR SCORE</div>
				<div class="score-tile d-flex justify-content-between mr-3">
					<img src="assets/img/orange.png" alt="sticker">
					<span class="text-nav ml-1 w var-small">X109</span>
				</div>
				<div class="score-tile d-flex justify-content-between mr-3">
					<img src="assets/img/mooncake.png" alt="sticker">
					<span class="text-nav ml-1 w var-small">X27</span>
				</div>
				<div class="score-tile d-flex justify-content-between mr-3">
					<img src="assets/img/caligraphy.png" alt="sticker">
					<span class="text-nav ml-1 w var-small">X252</span>
				</div>
				<a class="ml-2 text-center d-none d-lg-block" href="/">
					<svg class="icon d-block icon-s mb-1 mx-auto">
						<use xlink:href="assets/icons/icons.svg#sprite-fb-share" href="assets/icons/icons.svg#sprite-fb-share"></use>
					</svg>
					<span class="d-block w text-nav var-xSmall">Share</span>
				</a>
			</div>
		</div>
	</div>

</div>
