{# Start leaderboards component #}
  <div class="leaderboard-container leaderboards--fixedbar position-fixed" ref="leaderboard" id="leaderboardEl">
    <div class="accordion" id="leaderboard-collapse__parent">
      <div class="">
        <div class="leaderboards-collapsible__header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-center py-2 l leaderboards-collapsible__button position-relative collapsed" type="button" data-toggle="collapse" data-target="#leader-collapsible" aria-expanded="true" aria-controls="leader-collapsible">
              <i class="bi bi-chevron-down leaderboards-collapsible__heading-arrow">
              </i>
              <h6 class="leaderboards-collapsible__heading-text mb-0">Leaderboard</h6>
            </button>
          </h2>
        </div>
        <div id="leader-collapsible" class="collapse leaderboards-collapsible__body" aria-labelledby="headingOne" data-parent="#leaderboard-collapse__parent">
          <div id="swiper-leaderboard" class="card-body leaderboards-collapsible__card-body swiper-container">
            <div class="swiper-wrapper row">
              <div class="swiper-leaderboard-item swiper-slide col-lg-4" v-if="item_1.length > 0">
                <div class="pl-md-3 pl-lg-0">
                  <div class="leaderboards-users__img text-center mb-4">
                    <img class="" :src="item_1[0].item_as.image_thumbnail">
                  </div>
                  <ol class="leaderboards-users__listing pl-4 pl-md-0">
                    <li v-for="item in item_1">
                      <div v-if="item.user_as != null" class="users-ranking__avatar">
                        <img :src="item.user_as.profile_image != 'image.png' ? item.user_as.profile_image : 'https://www.w3schools.com/howto/img_avatar.png'" :alt="item.user_as.name">
                      </div>
                      <div v-else class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="default">
                      </div>
                      <div v-if="item.user_as != null" class="users-ranking__name" v-text="item.user_as.name.substring(0,5)"></div>
                      <div v-else class="users-ranking__name">[not set]</div>
                      <div class="users-ranking__points" v-text="item.score"></div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="swiper-leaderboard-item swiper-slide col-lg-4" v-if="item_2.length > 0">
                <div class="pl-md-3 pl-lg-0">
                <div class="leaderboards-users__img text-center mb-4">
                    <img class="" :src="item_2[0].item_as.image_thumbnail" :alt="item_2[0].item_as.image_thumbnail" :title="item_2[0].item_as.name">
                  </div>
                  <ol class="leaderboards-users__listing pl-4 pl-md-0">
                    <li v-for="item in item_2">
                      <div v-if="item.user_as != null" class="users-ranking__avatar">
                        <img :src="item.user_as.profile_image != 'image.png' ? item.user_as.profile_image : 'https://www.w3schools.com/howto/img_avatar.png'" :alt="item.user_as.name">
                      </div>
                      <div v-else class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="default">
                      </div>
                      <div v-if="item.user_as != null" class="users-ranking__name" v-text="item.user_as.name.substring(0,5)"></div>
                      <div v-else class="users-ranking__name">[not set]</div>
                      <div class="users-ranking__points" v-text="item.score"></div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="swiper-leaderboard-item swiper-slide col-lg-4" v-if="item_3.length > 0">
                <div class="pl-md-3 pl-lg-0">
                <div class="leaderboards-users__img text-center mb-4">
                    <img class="" :src="item_3[0].item_as.image_thumbnail" :alt="item_3[0].item_as.image_thumbnail" :title="item_3[0].item_as.name">
                  </div>
                  <ol class="leaderboards-users__listing pl-4 pl-md-0">
                    <li v-for="item in item_3">
                      <div v-if="item.user_as != null" class="users-ranking__avatar">
                        <img :src="item.user_as.profile_image != 'image.png' ? item.user_as.profile_image : 'https://www.w3schools.com/howto/img_avatar.png'" :alt="item.user_as.name">
                      </div>
                      <div v-else class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="default">
                      </div>
                      <div v-if="item.user_as != null" class="users-ranking__name" v-text="item.user_as.name.substring(0,5)"></div>
                      <div v-else class="users-ranking__name">[not set]</div>
                      <div class="users-ranking__points" v-text="item.score"></div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="collections-carousel-controls carousel-controls d-lg-none">
              <div class="swiper-button-prev swiper-button-disabled arrow-previous">
                <img src="assets/img/arrow.png" alt="arrow">
              </div>
              <div class="swiper-button-next arrow-next">
                <img src="assets/img/arrow.png" alt="arrow">
              </div>
            </div>
          </div>
          <div class="text-center">
            <p class="w">*Rankings are determined by highest scores and fastest times</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# End leaderboards component #}