<div class="tnc-anchor-container position-fixed pl-4 d-none d-md-block">
  <div class="tnc-anchor">
    <a href="#">Terms & Conditions</a>
  </div>
</div>
{# Start leaderboards component #}
  <div class="leaderboard-container leaderboards--fixedbar position-fixed">
    <div class="accordion" id="leaderboard-collapse__parent">
      <div class="">
        <div class="leaderboards-collapsible__header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-center py-2 l leaderboards-collapsible__button position-relative collapsed" type="button" data-toggle="collapse" data-target="#leader-collapsible" aria-expanded="true" aria-controls="leader-collapsible">
              <i class="bi bi-chevron-down leaderboards-collapsible__heading-arrow">
              </i>
              <h6 class="leaderboards-collapsible__heading-text mb-0">Leaderboard</h6>
            </button>
          </h2>
        </div>

        <div id="leader-collapsible" class="collapse leaderboards-collapsible__body" aria-labelledby="headingOne" data-parent="#leaderboard-collapse__parent">
          <div class="card-body leaderboards-collapsible__card-body">
            <div class="row">
              <div class="col-12 col-lg-4 pr-lg-5">
                <div class="">
                  <div class="leaderboards-users__img text-center mb-4">
                    <img class="" src="assets/img/orange.png" alt="">
                  </div>
                  <ol class="leaderboards-users__listing">
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riana</div>
                      <div class="users-ranking__points">508</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Chris</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Cairg</div>
                      <div class="users-ranking__points">499</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Des</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mike</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Jesse</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Frank</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riley</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Elise</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mabel</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="col-12 col-lg-4 pr-lg-5">
                <div class="">
                <div class="leaderboards-users__img text-center mb-4">
                    <img class="" src="assets/img/mooncake.png" alt="">
                  </div>
                  <ol class="leaderboards-users__listing">
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riana</div>
                      <div class="users-ranking__points">508</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Chris</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Cairg</div>
                      <div class="users-ranking__points">499</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Des</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mike</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Jesse</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Frank</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riley</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Elise</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mabel</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="">
                <div class="leaderboards-users__img text-center mb-4">
                    <img class="" src="assets/img/caligraphy.png" alt="">
                  </div>
                  <ol class="leaderboards-users__listing">
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riana</div>
                      <div class="users-ranking__points">508</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Chris</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Cairg</div>
                      <div class="users-ranking__points">499</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Des</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mike</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Jesse</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Frank</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riley</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Elise</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mabel</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="tnc-anchor text-center d-md-none mt-5">
              <a href="#">Terms & Conditions</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# End leaderboards component #}