<div class="mobile-nav-wrapper">
	<div class="burger-container">
		<div class="mobile">
			<div class="hamburger-menu">
				<div class="bar"></div>
			</div>
		</div>
	</div>
	<div class="mobile-nav show">
		<ul>
			<li><a class="btn btn-link p-0" href="/">HOW TO PLAY</a></li>

			<li><a class="btn btn-link p-0" href="/">YOUR COLLECTION</a></li>

			<li><a class="btn btn-link btn-link-active p-0" href="/">PRIZES</a></li>

			<li><a class="btn btn-link p-0" href="/">STICKERS</a></li>

			<li><a class="btn btn-link p-0 profile" href="/"><svg class="icon d-block icon-l mb-1 mx-auto"><use xlink:href="assets/icons/icons.svg#sprite-profile" href="assets/icons/icons.svg#sprite-profile"></use></svg></a></li>
		</ul>
	</div>
</div>
