<div class="mobile-nav-wrapper">
	<div class="burger-container">
		<div class="mobile">
			<div class="hamburger-menu">
				<div class="bar"></div>
			</div>
		</div>
	</div>
	{% include "./overlay.twig" with {
    id: 'overlay-mobileNav',
    class: 'hide'
  }%}

	<div class="mobile-nav hide">
		<ul>
			{# <li>
				<a  role="button" class="btn btn-link p-0" data-toggle="modal" data-target="#howToPlayModal">HOW TO PLAY</a>
			</li> #}

			{# <li>
				<a class="btn btn-link p-0" href="/game.html">Back to Game</a>
			</li> #}

			<li>
				<a class="btn btn-link p-0" href="/collections.html">YOUR COLLECTION</a>
			</li>

			<li>
				<a class="btn btn-link btn-link-active p-0" href="/prizes.html">PRIZES</a>
			</li>

			<li>
				<a class="btn btn-link p-0" href="/sticker.html">STICKERS</a>
			</li>

			<li>
				<a class="btn btn-link p-0" href="https://www.sunlifemalaysia.com/campaigns/unlock-the-luck-collect-the-huat/cny-2022/" target="_blank">T&C</a>
			</li>

			{# <li><a class="btn btn-link p-0 profile" href="/"><svg class="icon d-block icon-l mb-1 mx-auto"><use xlink:href="assets/icons/icons.svg#sprite-profile" href="assets/icons/icons.svg#sprite-profile"></use></svg></a></li> #}
		</ul>
	</div>
</div>
