{# <nav class="left-pane">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        <small class="p1 d-none d-lg-inline"><strong>MENU</strong></small>
    </button>
</nav>

<nav class="top-pane px-3 px-md-5">
    <a href="/" class="brand-logo">
        <img src="assets/img/logo.png" alt="Main logo">
    </a>
    <div class="spacer"></div>
    <div class="dropdown variant-language-toggle">
        <button class="btn btn-link dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            EN
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">EN</a>
            <a class="dropdown-item" href="#">中文</a>
        </div>
    </div>
    <a href="#" data-target="#salesEnquiryModal" data-toggle="modal" class="btn btn-secondary d-none d-md-block mr-md-5 mr-lg-0">SALES ENQUIRY</a>
</nav>

<div class="nav-top-pane-spacer"></div>

<nav class="drawer">
    <div class="drawer-content">
        <img src="assets/img/logo-alt.png" alt="MaxSteel Logo" class="img-fluid">

        <ul class="nav-links">
            <li>
                <a href="/visit-maxsteel.html" class="h1">VISIT MAXSTEEL</a>
            </li>
            <li>
                <a href="/what-we-do.html" class="h1">WHAT WE DO</a>
                <div class="second-level">
                    <a href="/products.html" class="second-level lk1">PRODUCTS</a>
                    <a href="/services.html" class="second-level lk1">SERVICES</a>
                    <a href="/quality.html" class="second-level lk1">QUALITY</a>
                </div>
            </li>
            <li>
                <a href="/media.html" class="h1">MEDIA</a>
                <div class="second-level">
                    <a href="/facilities.html" class="second-level lk1">FACILITIES</a>
                    <a href="/facilities.html" class="second-level lk1">PRODUCTS</a>
                    <a href="/facilities.html" class="second-level lk1">PARTNERSHIPS</a>
                    <a href="/events.html" class="second-level lk1">EVENTS</a>
                </div>
            </li>
            <li>
                <a href="/contact-us.html" class="h1">CONTACT US</a>
            </li>
            <li class="d-md-none sales-cta"><a href="#" class="h1">Sales Enquiry</a></li>
        </ul>

        <p class="text-right w"><small>&copy; 2020 MAXSTEEL. ALL RIGHTS RESERVED.</small></p>
    </div>
</nav> #}