<!-- Modal -->
<div class="reward-modal modal show" data-backdrop="static" ref="vuemodal" id="rewardModal" tabindex="-1" role="dialog" aria-labelledby="rewardModalLabel" aria-hidden="true" style="display:none">
	<div class="modal-dialog modal-dialog-centered modal-md mx-auto" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<img src="assets/img/congratulations.png" alt="how-to-play">
			</div>
			<div class="modal-body text-center">
				<h3 class="header-gift color-s1 text-center mb-2">YOU HAVE COLLECTED</h3>
				<img class="img-gift mb-2" :src="score.image" alt="gift-avatar">
				<h3 class="header-gift color-p3 text-center mb-4" v-text="score.name"></h3>
				<p class="body-text" v-text="score.description"></p>

				<div class="btn-wrapper">
					<button class="btn btn-img" id="btnRestartGame"><img class="img-btn" src="assets/img/next.png" alt="next"></button>
				</div>
			</div>
		</div>
	</div>
</div>
