<div class="start-page">
    <form action="http://localhost:8080/game.html">
        <h2 class="start-title">Register Player</h2>
        <div class="content">
            <div class="input-field">
                <input required type="name" placeholder="Nickname" autocomplete="nope">
            </div>
        </div>
        <div class="action">
            <button>Start Game</button>
        </div>
    </form>
</div>