<div class="start-page-container game-page-bg">

	{% include "./background.twig" with {
        imgSrc: 'bg-signin.png'   
    }%}

	<div class="content">

		<div class="wrapper">
			<h3>
				<span class="curvy-text w">W</span>
				<span class="curvy-text e">E</span>
				<span class="curvy-text l">L</span>
				<span class="curvy-text c">C</span>
				<span class="curvy-text o">O</span>
				<span class="curvy-text m">M</span>
				<span class="curvy-text e1">E</span>
				<span class="curvy-text"></span>
				<span class="curvy-text t">T</span>
				<span class="curvy-text o2">O</span>
			</h3>


		</div>

		<div class="hero-image">
			<img src="assets/img/masthead.png" alt="masthead">
			<img id="profileImage">
		</div>

		<div class="mt-4 d-flex flex-column">
			<button type="button" class="btn btn-howtoplay p-0 mb-3">
				<img src="assets/img/how-to-play-button.png" class="cursor-pointer" alt="how-to-play-button" data-toggle="modal" data-target="#howToPlayModal">
			</button>
			<!-- Button trigger modal -->
			<button class="btn fb-login-btn pb-md-1 pb-2 p-lg-0">
				<img id="fbLoginBtn" class="fb-btn" src="assets/img/facebook-button.png" alt="facebook-login">
			</button>
			{# <div id="fbLoginBtn" class="fb-login-button mb-2" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> #}
			{# <button style="display:none;" id="logoutBtn">Logout</button> #}
			<p class="bt-1">New player?
				<a role="button" id="fbLoginRegister" class="bt-1-link cursor-pointer">Register here</a>
			</p>

			{% include "./how-to-play.twig" %}

			{# <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button> #}
		</div>
	</div>
</div>
