<div class="start-page-container game-page-bg">

	{% include "./background.twig" with {
        imgSrc: 'signin-page-yellow-bg.jpg'   
    }%}

	<div class="content">

		<div class="wrapper">
			<h3>
				<span class="curvy-text w">W</span>
				<span class="curvy-text e">E</span>
				<span class="curvy-text l">L</span>
				<span class="curvy-text c">C</span>
				<span class="curvy-text o">O</span>
				<span class="curvy-text m">M</span>
				<span class="curvy-text e1">E</span>
				<span class="curvy-text"></span>
				<span class="curvy-text t">T</span>
				<span class="curvy-text o2">O</span>
			</h3>


		</div>

		<div class="hero-image">
			<img src="assets/img/masthead.png" alt="masthead">
		</div>

		<div class="mt-4">
			<button class="btn pb-md-1 pb-2" id="fbLoginBtn">
				<img class="fb-btn" src="assets/img/facebook-button.png" alt="facebook-login">
			</button>
			{# <div id="fbLoginBtn" class="fb-login-button mb-2" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> #}
			<button style="display:none;" id="logoutBtn">Logout</button>
			<p class="bt-1">New player?
				<a role="button" id="fbLoginRegister" class="bt-1-link cursor-pointer">Register here</a>
			</p>

			<div id="status"></div>

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#howToPlayModal">
				How to Play
			</button>

			{% include "./how-to-play.twig" %}

			{# <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button> #}
		</div>

	</div>


	{# <div class="start-page">
														        <form action="http://localhost:8080/game.html">
														            <h2 class="start-title">Register Player</h2>
														            <div class="content">
														                <div class="input-field">
														                    <input required type="name" placeholder="Nickname" autocomplete="nope">
														                </div>
														            </div>
														            <div class="action">
														                <button>Start Game</button>
														            </div>
														        </form>
														    </div> #}
</div>
