<div class="swiper-container carousel steps-to-play">
	<div
		class="swiper-wrapper">
		{# {% for item in 1..3 %} #}
		<div class="swiper-slide step-slide">
			<div class="slide-layout">
				<div class="img-steps">
					<img src="assets/img/htp-1.png" alt="htp-1">
				</div>
				<p class="py-3 how-to-play-text">The goal is to pause the sun when it’s in the circle.</p>
			</div>
		</div>
		<div class="swiper-slide step-slide">
			<div class="slide-layout">
				<div class="img-steps">
					<img src="assets/img/htp-2.png" alt="htp-2">
				</div>
				<p class="py-3 how-to-play-text">Press the spacebar or the Stop button to pause the sun</p>
			</div>
		</div>
		<div class="swiper-slide step-slide">
			<div class="slide-layout">
				<div class="img-steps">
					<img src="assets/img/htp-3.png" alt="htp-3">
				</div>
				<p class="py-3 how-to-play-text">An item will be unlocked each time you pause the sun successfully within the circle.</p>
			</div>
		</div>
		<div class="swiper-slide step-slide">
			<div class="slide-layout">
				<div class="img-steps">
					<img src="assets/img/htp-4.png" alt="htp-4">
				</div>
				<p class="py-3 how-to-play-text">Collect as many as you can. If you have the highest number of a single object by end of the week, you’ll win RM338 worth of GrabPay credits!</p>
			</div>
		</div>
		<div class="swiper-slide step-slide">
			<div class="slide-layout">
				<div class="img-steps">
					<img src="assets/img/htp-5.png" alt="htp-5">
				</div>
				<p class="py-3 how-to-play-text">Check the leaderboard to see the high score for each object!</p>
			</div>
		</div>
		<div class="swiper-slide step-slide">
			<div class="slide-layout">
				<div class="img-steps">
					<img src="assets/img/htp-6.png" alt="htp-6">
				</div>
				<p class="py-3 how-to-play-text">You only have a week to collect the objects, so play as much as you can for the chance to win!</p>
			</div>
		</div>
		<div class="swiper-slide step-slide">
			<div class="slide-layout">
				<div class="img-steps">
					<img src="assets/img/htp-7.png" alt="htp-7">
				</div>
			</div>
		</div>
		{# {% endfor %} #}
	</div>
</div>
<div class="carousel-controls">
	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev swiper-button-disabled arrow-previous">
		<img src="assets/img/arrow.png" alt="arrow">
	</div>
	<div class="swiper-button-next arrow-next">
		<img src="assets/img/arrow.png" alt="arrow">
	</div>
	<div class="swiper-button-next button-next">
		<img src="assets/img/next.png" alt="next">
	</div>
  <button class="btn swiper-button-start button-start" style="display: none;">
		<img src="assets/img/start.png" alt="start">
	</button>
  <button class="btn swiper-button-skip button-skip">
    <p>SKIP</p>
	</button>
	<div id="fraction" class="swiper-fraction"></div>
</div>
