<div class="container">
	<div class="speech-bubble speech-bubble-bottom-right">
		<div class="comment-box">
			{# <div class="comment-box-bg">
																		<div class="background">
																			<img src="assets/img/comment-box.png" alt="comment-box">
																		</div>
																	</div> #}
			{# <div class="content"> #}
			{# <div class="wrapper"> #}
				<h5 class="text-center mb-md-4 mb-1 px-md-0 px-2 title-sticker"> Download Our Free Whatsapp Sticker Pack To Brighten Your Loved Ones' CNY!
			</h5>
			<div class="d-flex justify-content-lg-around justify-content-center align-items-center flex-wrap">
				<img class="img-sticker" src="assets/img/sticker-1.gif" alt="sticker-sweet">
				<img class="img-sticker" src="assets/img/sticker-2.gif" alt="sticker-orange">
				<img class="img-sticker" src="assets/img/sticker-3.gif" alt="sunlife-sticker">
				<img class="img-sticker" src="assets/img/sticker-4.gif" alt="sticker">
				<img class="img-sticker" src="assets/img/sticker-5.gif" alt="sticker">

				<img class="img-sticker" src="assets/img/sticker-6.gif" alt="sticker">
				<img class="img-sticker" src="assets/img/sticker-7.gif" alt="sticker">
				<img class="img-sticker" src="assets/img/sticker-8.gif" alt="sticker">
				<img class="img-sticker" src="assets/img/sticker-9.gif" alt="sticker">
				<img class="img-sticker" src="assets/img/sticker-10.gif" alt="sticker">
			</div>

			{# </div> #}
			{# </div> #}
		</div>


	</div>
	<div class="img-dragon-wrapper">
		<img src="assets/img/dragon-with-smartphone.png" class="comment-box-img" alt="dragon-w-smartphone"/>
	</div>
	<div class="text-center btn-wrapper mt-md-4 mt-3">
		<button class="btn btn-sticker">
			<a href="https://www.rebrand.ly/SLMCNYStickers"><img src="assets/img/download-sticker.png" alt="download-sticker"/></a>
		</button>
	</div>
</div>
