<div class="container pt-5">
    <div class="comment-box">
        <div class="row">
            <div class="col-md-12 sticker-text">
                <h5 class="text-center">
                    Download Our Free Whatsapp Sticker Pack To Brighten Your Love Ones' CNY!
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6">
                <img src="assets/img/dragon-sticker.png" alt="sticker-dragon">
            </div>

            <div class="col-md-3 col-6">
                <img src="assets/img/orange-sticker.png" alt="sticker-orange">
            </div>

            <div class="col-md-3 col-6">
                <img src="assets/img/sweet-sticker.png" alt="sticker-sweet">
            </div>

            <div class="col-md-3 col-6">
                <img src="assets/img/dragon-sticker.png" alt="sticker">
            </div>
        </div>
    </div>
    
    <div class="row py-5 py-md-0">
        <div class="offset-md-6 offset-lg-8 text-center">
            <img src="assets/img/dragon-with-smartphone.png" class="comment-box-img" alt="dragon-w-smartphone">
        </div>
    </div>

    <div>
        <button class="btn">Download Stickers</button>
    </div>
</div>