@include font-face("Avenir", "../assets/fonts/Avenir", 400, normal, otf);
@include font-face("SunLifeScript-Regular", "../assets/fonts/SunLifeScript-Regular", 400, normal, otf);
@include font-face("HelveticaNeue", "../assets/fonts/HelveticaNeue", 500, normal, otf);
@include font-face("Myriad", "../assets/fonts/MyriadPro-Regular", 500, normal, otf);
@include font-face("Bungee", "../assets/fonts/Bungee-Regular", 600, normal, ttf);
@include font-face("AllerDisplay", "../assets/fonts/AllerDisplay", 600, normal, ttf);
