{% extends "templates/partials/base.twig" %}
{% set showNav = true %}

{% block main %}
	<div class="container-fluid collections-container">
		<div class="text-center">

			{# {% include "templates/components/background.twig" with {
                imgSrc: 'landing-bg.jpg'
            }%} #}

			<div class="collections-wrapper pt-3">
        <div class="collections-heading">
          <h5 class="collections-header">Your Collection</h5>
          <p class="collections-description">Click to discover interesting facts about every object</p>
        </div>
        <div class="collections-weekly__container d-flex justify-content-center flex-column flex-md-row flex-wrap">
          <div class="collections-weekly__item-container">
            <h6 class="collections-weekly__item-heading text-capitalize">Week 1</h6>
            <div class="collections-weekly__img-list-wrapper d-flex justify-content-center">
              <div class="collections-weekly__img">
                <img src="assets/img/collection-1.png" alt="">
                <div class="collections-weekly__img-quantity">x5</div>
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-1.png" alt="">
                <div class="collections-weekly__img-quantity">x12</div>
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-1.png" alt="">
                <div class="collections-weekly__img-quantity">x4</div>
              </div>
            </div>
          </div>
          <div class="collections-weekly__item-container item-locked">
            <h6 class="collections-weekly__item-heading text-capitalize">Week 2</h6>
            <div class="collections-weekly__img-list-wrapper d-flex justify-content-center">
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
            </div>
          </div>
          <div class="collections-weekly__item-container item-locked">
            <h6 class="collections-weekly__item-heading text-capitalize">Week 3</h6>
            <div class="collections-weekly__img-list-wrapper d-flex justify-content-center">
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
            </div>
          </div>
          <div class="collections-weekly__item-container item-locked">
            <h6 class="collections-weekly__item-heading text-capitalize">Week 4</h6>
            <div class="collections-weekly__img-list-wrapper d-flex justify-content-center">
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
            </div>
          </div>
        </div>
        <div class="collection-button-container mt-5 pb-5 pb-md-0">
          <button class="sunlife-buttons py-1 px-3 d-block d-md-inline-block mb-2 mb-md-0">
            <svg class="icon d-inline-block icon-s mb-1 mx-auto">
              <use xlink:href="assets/icons/icons.svg#sprite-icon-share" href="assets/icons/icons.svg#sprite-icon-share"></use>
            </svg>
            <span class="sunlife-buttons__text text-uppercase text-white">Share</span>
            </button>
          <button class="sunlife-buttons py-1 px-3 d-block d-md-inline-block">
            <svg class="icon d-inline-block icon-s mb-1 mx-auto">
              <use xlink:href="assets/icons/icons.svg#sprite-icon-share" href="assets/icons/icons.svg#sprite-icon-share"></use>
            </svg>
            <span class="sunlife-buttons__text download-text text-uppercase">Download Stickers</span>
          </button>
        </div>
			</div>
		</div>
	</div>

  <div class="container-fluid d-none d-md-block">
    <div class="tnc-anchor">
      <a href="#">Terms & Conditions</a>
    </div>
  </div>
  {% include "templates/components/leaderboard.twig" %}
{% endblock %}
