{% extends "templates/partials/base.twig" %}
{% set showNav = true %}

{% block main %}
	<div class="container-fluid collections-container">
		<div class="text-center">

			{# {% include "templates/components/background.twig" with {
                imgSrc: 'landing-bg.jpg'
            }%} #}

			<div class="collections-wrapper pt-3">
        <div class="collections-heading">
          <h5 class="collections-header">Your Collection</h5>
          <p class="collections-description">Click to discover interesting facts about every object</p>
        </div>
        <div class="collections-weekly__container d-flex justify-content-center flex-column flex-md-row flex-wrap">
          <div class="collections-weekly__item-container">
            <h6 class="collections-weekly__item-heading text-capitalize">Week 1</h6>
            <div class="collections-weekly__img-list-wrapper d-flex justify-content-center">
              <div class="collections-weekly__img">
                <img src="assets/img/collection-1.png" alt="">
                <div class="collections-weekly__img-quantity">x5</div>
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-1.png" alt="">
                <div class="collections-weekly__img-quantity">x12</div>
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-1.png" alt="">
                <div class="collections-weekly__img-quantity">x4</div>
              </div>
            </div>
          </div>
          <div class="collections-weekly__item-container item-locked">
            <h6 class="collections-weekly__item-heading text-capitalize">Week 2</h6>
            <div class="collections-weekly__img-list-wrapper d-flex justify-content-center">
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
            </div>
          </div>
          <div class="collections-weekly__item-container item-locked">
            <h6 class="collections-weekly__item-heading text-capitalize">Week 3</h6>
            <div class="collections-weekly__img-list-wrapper d-flex justify-content-center">
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
            </div>
          </div>
          <div class="collections-weekly__item-container item-locked">
            <h6 class="collections-weekly__item-heading text-capitalize">Week 4</h6>
            <div class="collections-weekly__img-list-wrapper d-flex justify-content-center">
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
              <div class="collections-weekly__img">
                <img src="assets/img/collection-locked.png" alt="">
                {# <div class="collections-weekly__img-quantity">x5</div> #}
              </div>
            </div>
          </div>
        </div>
        <div class="collection-button-container mt-5 pb-5 pb-md-0">
          <button class="sunlife-buttons py-1 px-3 d-block d-md-inline-block mb-2 mb-md-0">
            <svg class="icon d-inline-block icon-s mb-1 mx-auto">
              <use xlink:href="assets/icons/icons.svg#sprite-icon-share" href="assets/icons/icons.svg#sprite-icon-share"></use>
            </svg>
            <span class="sunlife-buttons__text text-uppercase text-white">Share</span>
            </button>
          <button class="sunlife-buttons py-1 px-3 d-block d-md-inline-block">
            <svg class="icon d-inline-block icon-s mb-1 mx-auto">
              <use xlink:href="assets/icons/icons.svg#sprite-icon-share" href="assets/icons/icons.svg#sprite-icon-share"></use>
            </svg>
            <span class="sunlife-buttons__text download-text text-uppercase">Download Stickers</span>
          </button>
        </div>
			</div>
		</div>
	</div>

  {# Start leaderboards component #}
  <div class="leaderboard-container leaderboards--fixedbar position-fixed">
    <div class="accordion" id="leaderboard-collapse__parent">
      <div class="">
        <div class="leaderboards-collapsible__header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-center py-2 l leaderboards-collapsible__button position-relative collapsed" type="button" data-toggle="collapse" data-target="#leader-collapsible" aria-expanded="true" aria-controls="leader-collapsible">
              <h6 class="leaderboards-collapsible__heading-text mb-0">Leaderboard</h6>
              <i class="bi bi-chevron-down leaderboards-collapsible__heading-arrow position-absolute">
              </i>
            </button>
          </h2>
        </div>

        <div id="leader-collapsible" class="collapse leaderboards-collapsible__body" aria-labelledby="headingOne" data-parent="#leaderboard-collapse__parent">
          <div class="card-body leaderboards-collapsible__card-body">
            <div class="row">
              <div class="col-4 pr-5">
                <div class="">
                  <div class="leaderboards-users__img text-center mb-4">
                    <img class="" src="assets/img/orange.png" alt="">
                  </div>
                  <ol class="leaderboards-users__listing">
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riana</div>
                      <div class="users-ranking__points">508</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Chris</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Cairg</div>
                      <div class="users-ranking__points">499</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Des</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mike</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Jesse</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Frank</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riley</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Elise</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mabel</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="col-4 pr-5">
                <div class="">
                <div class="leaderboards-users__img text-center mb-4">
                    <img class="" src="assets/img/mooncake.png" alt="">
                  </div>
                  <ol class="leaderboards-users__listing">
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riana</div>
                      <div class="users-ranking__points">508</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Chris</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Cairg</div>
                      <div class="users-ranking__points">499</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Des</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mike</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Jesse</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Frank</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riley</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Elise</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mabel</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="col-4">
                <div class="">
                <div class="leaderboards-users__img text-center mb-4">
                    <img class="" src="assets/img/caligraphy.png" alt="">
                  </div>
                  <ol class="leaderboards-users__listing">
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riana</div>
                      <div class="users-ranking__points">508</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Chris</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Cairg</div>
                      <div class="users-ranking__points">499</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Des</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mike</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Jesse</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Frank</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Riley</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Elise</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                    <li>
                      <div class="users-ranking__avatar">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                      </div>
                      <div class="users-ranking__name">Mabel</div>
                      <div class="users-ranking__points">100</div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# End leaderboards component #}
{% endblock %}
