{% extends "templates/partials/base.twig" %}
{% set showNav = true %}

{% block main %}
	<div class="container-fluid">
		<div class="row">

			{% include "templates/components/background.twig" with {
                imgSrc: 'landing-bg.jpg'   
            }%}
			<div class="relative">
				<div id="game-container"></div>
			</div>
		</div>
	</div>

{% endblock %}
