{% extends "templates/partials/base.twig" %}

{% block main %}


    {# {% include "templates/components/carousel-variant-hero.twig" %} #}

    <div class="container-fluid">
        <div class="row">
            {% include "templates/components/start-page.twig"%}
        </div>
    </div>

{% endblock %}