{% extends "templates/partials/base.twig" %}

{% block main %}


    {# {% include "templates/components/carousel-variant-hero.twig" %} #}

    <div class="container-fluid px-3 px-md-5 pt-5">
        <div class="row">
            {% include "templates/components/start-page.twig" %}
            <p>Mandarin</p>
        </div>
    </div>

{% endblock %}