{% extends "templates/partials/base.twig" %}
{% set showNav = true %}

{% block main %}
	<div class="container collections-container">
		<div
			class="text-center">

			{# {% include "templates/components/background.twig" with {
          imgSrc: 'landing-bg.jpg'
      }%} #}

			<div class="collections-wrapper pt-5 pt-md-2 pt-lg-5 mt-md-4">
				<div class="collections-heading w-50 m-auto">
					<p class="collections-description">Play for 3x chances to win
						<span class="prizes-price-to-win">RM338</span>
						GrabPay credits and Sun Life Premium Angpow Packets Every Week!</p>
				</div>
        <div class="prizes-wrapper">
          <div class="row pt-5">
            <div class="prizes-winner-container col-md-3 ">
              <img class="prizes-winner-image" src="assets/img/winners/week-1-winners.png">
              <div class="prizes-winner-body pt-4 pb-4">
                <div class="prizes-winner-body__content px-2">
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="prizes-winner-container col-md-3">
              <img class="prizes-winner-image" src="assets/img/winners/week-2-winners.png">
              <div class="prizes-winner-body pt-4 pb-4">
                <div class="prizes-winner-body__content px-2">
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="prizes-winner-container col-md-3">
              <img class="prizes-winner-image" src="assets/img/winners/week-3-winners.png">
              <div class="prizes-winner-body pt-4 pb-4">
                <div class="prizes-winner-body__content px-2">
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="prizes-winner-container col-md-3">
              <img class="prizes-winner-image" src="assets/img/winners/week-4-winners.png">
              <div class="prizes-winner-body pt-4 pb-4">
                <div class="prizes-winner-body__content px-2">
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                  <div class="prizes-winner-item d-flex align-items-center">
                    <img class="winner-item__img-list" src="assets/img/orange.png" alt="">
                    <img class="winner-item__img-user" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
                    <div class="prizes-winner-name">Kevin Mitnick</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>

	{% include "templates/components/how-to-play.twig" %}


	{% include "templates/components/leaderboard.twig" %}
{% endblock %}
