{% extends "templates/partials/base.twig" %}

{% block main %}

	<div class="container-fluid">
		<div class="row">

			{% include "templates/components/background.twig" with {
                imgSrc: 'registrationform-bg.jpg'   
            }%}

			<div id="register-form" class="register-page-container" v-cloak>
				<div class="content">

					<div class="form-wrapper">
						<div class="form-header-img">
							<img src="assets/img/almost-done.png" alt="">
						</div>
						<validation-observer ref="registerForm" v-slot="{ handleSubmit }">

							<form ref="theForm" @submit.prevent="handleSubmit(onSubmit)">
								<div class="form-group">
									<validation-provider slim rules="required" v-slot="{ failedRules, errors }">
										<div class="form-input-wrapper mb-2">
											<label for="nameInputControl">Name as per NRIC</label>
											<input type="text" name="nameInputControl" class="form-control" id="nameInputControl" v-model="formData.name">
											<div class="text-danger" v-if="errors.length > 0">
												<small class="error-message" v-if="failedRules.required">This field is required</small>
											</div>
										</div>
									</validation-provider>

									<validation-provider slim rules="required" v-slot="{ failedRules, errors }">
										<div class="form-input-wrapper mb-2">
											<label for="ICInputControl">NRIC No.</label>
											<input type="text" class="form-control" id="ICInputControl" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="12" v-model="formData.nric">
											<div class="text-danger" v-if="errors.length > 0">
												<small class="error-message" v-if="failedRules.required">This field is required</small>
											</div>
										</div>
									</validation-provider>

									<validation-provider slim rules="required" v-slot="{ failedRules, errors }">
										<div class="form-input-wrapper mb-2">
											<label for="contactInputControl">Contact number</label>
											<input type="text" class="form-control" id="contactInputControl" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" v-model="formData.mobile_no">
											<div class="text-danger" v-if="errors.length > 0">
												<small class="error-message" v-if="failedRules.required">This field is required</small>
											</div>
										</div>
									</validation-provider>

									<validation-provider slim rules="required" v-slot="{ failedRules, errors }">
										<div class="form-input-wrapper mb-2">
											<label for="emailInputControl">Email</label>
											<input type="email" class="form-control" id="emailInputControl" v-model="formData.email">
											<div class="text-danger" v-if="errors.length > 0">
												<small class="error-message" v-if="failedRules.required">This field is required</small>
											</div>
										</div>
									</validation-provider>

									<validation-provider slim rules="required" v-slot="{ failedRules, errors }">
										<div class="form-input-wrapper mb-2">
											<div class="form-check">
												<label class="custom-control material-checkbox">
													<input type="checkbox" class="material-control-input" v-model="formData.IsCheckedTNC">
													<span class="material-control-indicator"></span>
													<span class="material-control-description">
														I have read, understood and accepted the
														<a class="" href="https://www.sunlifemalaysia.com/SunLife/media/SunLifeMedia/PDF/PrivacyNotice.pdf" target="_blank">Data Protection Notice</a>
														and
														<a href="https://www.sunlifemalaysia.com/campaigns/unlock-the-luck-collect-the-huat/cny-2022/" target="_blank">Terms and Conditions</a>.
													</span>
												</label>
											</div>
											<div class="text-danger" v-if="errors.length > 0">
												<small class="error-message" v-if="failedRules.required">This field is required</small>
											</div>
										</div>
									</validation-provider>

									<validation-provider slim rules="required" v-slot="{ failedRules, errors }">
										<div class="form-input-wrapper mb-2">
											<div class="form-check">
												<label class="custom-control material-checkbox" for="checkLocalityInput">
													<input type="checkbox" class="material-control-input" id="checkLocalityInput" v-model="formData.IsCheckedLocality">
													<span class="material-control-indicator"></span>
													<span class="material-control-description">
														I am a Malaysian citizen/Permanent Resident (PR) with a valid NRIC aged 18 and above and I understand that only Malaysians/Malaysian PR can participate in this game.
													</span>
												</label>
											</div>
											<div class="text-danger" v-if="errors.length > 0">
												<small class="error-message" v-if="failedRules.required">This field is required</small>
											</div>
										</div>
									</validation-provider>

									<div class="error-message text-danger text-center" v-if="generalSubmitError !== ''">
										<small></small>
									</div>

									<div class="form-action text-center mt-3">
										<button class="btn p-0" type="submit">
											<img src="assets/img/register.png" alt="register-btn">
										</a>
									</div>
								</div>
							</form>
						</validation-observer>

					</div>

				</div>
			</div>

		</div>
	</div>
{% endblock %}
