{% extends "templates/partials/base.twig" %}
{% set showNav = true %}

{% block main %}
	<div class="container-fluid">
		<div class="row">
			{% include "templates/components/background.twig" with {
        imgSrc: 'registrationform-bg.jpg'   
      }%}

			<div class="sticker-page-container">
				<div class="page-content">
					{% include "templates/components/sticker-content.twig" %}
				</div>
			</div>

			{% include "templates/components/how-to-play.twig" %}

		</div>
	</div>
{% endblock %}
