{% extends "templates/partials/base.twig" %}

{% block main %}
	<div class="container-fluid">
		<div class="row">

			<div class="relative">
				<div id="game-container2"></div>
			</div>

			{% include "templates/components/reward-modal.twig" %}

		</div>
	</div>
{% endblock %}
